.container__player{
  padding-inline: 20px;
  height: 100vh;
  overflow-y: scroll;
  .player__header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 30px;
    span{
      color: #ffffff;
      font-weight: 400;
      font-size: 9px;
    }
    p{
      font-weight: 600;
      font-size: 12px;
      color: #7CEEFF;
    }
  }
  .player__img{
    img{
      height: 345px;
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  .player_artist{
    .artist{
      display: flex;
      justify-content: space-between;
      h2{
        color: #ffffff;
        font-size: 24px;
        font-weight: 600;
      }
      p{
        font-size: 16px;
        font-weight: 600;
        color: #8A9A9D;
      }
      .actions{
        display: flex;
        gap: 18px;
        position: relative;
        img{
          height: 18px;
          object-fit: cover;
        }
        .player_volume{
          background: black;
          padding: 10px;
          border-radius: 8px;
          bottom: 25px;
          left: -10px;
          position: absolute;
          input[type=range]{
            accent-color: #7CEEFF;
            writing-mode: bt-lr;
            -webkit-appearance: slider-vertical;
            width: 20px;
            height: 115px;
          }
        }
      }
    }
  }

  .player{
    padding-top: 15px;
    input[type=range]{
      width: 100%;
      accent-color: #7CEEFF;
    }
    .player-actions{
      padding-top: 10px;
      gap: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .player__lyrics{
    padding-top: 5px;
    padding-bottom: 20px;
    width: 100%;
    .lyrics{
      display: flex;
      justify-content: flex-start;
      gap: 15px;
      img{
        border-radius: 5px;
        height: 20px;
        width: 30px;
      }
      padding-bottom: 20px;
    }
    .lyrics-card{

      padding-inline: 20px;
      border-radius: 25px;
      width: 100%;
      background: linear-gradient(
        to bottom,
        #39C0D4 0%,
        #5fd5e7 100%
      );
      padding-top: 20px;

      p{
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        margin: 0;
        padding-bottom: 10px;
      }

    }
  }
}
