<div class="container__home">

  <div class="home__header">

    <div class="profile">
      <img src="../../assets/profile/profile.svg" alt="">
      <div class="profile-text">
          <h3>Welcome back !</h3>
          <p>Ray Gabriel</p>
      </div>
    </div>

    <div class="profile-actions">
      <img src="../../assets/icons/sino.svg" alt="">
      <img src="../../assets/icons/config.svg" alt="">
    </div>

  </div>

  <h2>Continue ouvindo</h2>

  <div class="home__listening">
    <div class="listening__card">
      <img src="./assets/playlist/bmth.png" alt="">
      <div>
        <h3>Strangers</h3>
        <p>Bring Me The Horizon</p>
      </div>
    </div>
    <div class="listening__card">
      <img src="./assets/playlist/bmth.png" alt="">
      <div>
        <h3>Strangers</h3>
        <p>Bring Me The Horizon</p>
      </div>
    </div>
    <div class="listening__card">
      <img src="./assets/playlist/bmth.png" alt="">
      <div>
        <h3>Strangers</h3>
        <p>Bring Me The Horizon</p>
      </div>
    </div>
    <div class="listening__card">
      <img src="./assets/playlist/bmth.png" alt="">
      <div>
        <h3>Strangers</h3>
        <p>Bring Me The Horizon</p>
      </div>
    </div>
    <div class="listening__card">
      <img src="./assets/playlist/bmth.png" alt="">
      <div>
        <h3>Strangers</h3>
        <p>Bring Me The Horizon</p>
      </div>
    </div>
    <div class="listening__card">
      <img src="./assets/playlist/bmth.png" alt="">
      <div>
        <h3>Strangers</h3>
        <p>Bring Me The Horizon</p>
      </div>
    </div>
  </div>

  <h2 class="recommend">Recomendado para você</h2>

  <div class="home__recommend">

    <div class="recommend_card">
      <img src="../../assets/playlist/linkin.png" alt="">
      <div>
        <h3>Strangers</h3>
        <p>Bring Me The Horizon</p>
      </div>
    </div>

    <div class="recommend_card">
      <img src="../../assets/playlist/linkin.png" alt="">
      <div>
        <h3>Strangers</h3>
        <p>Bring Me The Horizon</p>
      </div>
    </div>

    <div class="recommend_card">
      <img src="../../assets/playlist/linkin.png" alt="">
      <div>
        <h3>Strangers</h3>
        <p>Bring Me The Horizon</p>
      </div>
    </div>

  </div>

</div>
